<ion-header [translucent]="true">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Angular Material Demo</span>
      <span class="example-spacer"></span>
      <button (click)="showProgressBar()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="isProgress" mode="indeterminate" color="warn"></mat-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding pb-0">
    <mat-chip-list>
      <mat-chip>Entertainment</mat-chip>
      <mat-chip>Coding</mat-chip>
      <mat-chip>Gaming</mat-chip>
      <mat-chip>Music</mat-chip>
    </mat-chip-list>
  </div>

  <mat-card *ngFor="let post of posts" class="example-card ion-margin no-padding my-1">
    <mat-card-title class="mb-0 ion-padding">
      <div class="d-flex ion-align-items-center ion-justify-content-between">
        <div class="d-flex ion-align-items-center">
          <ion-avatar class="avatar">
            <img src="{{ post?.authorPicture }}">
          </ion-avatar>
          <div class="ion-padding-horizontal font-normal"> {{ post?.authorName }} </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu"> <mat-icon>more_horiz</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialog()">
            <mat-icon>dialpad</mat-icon>
            <span>Open Dialog</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>voicemail</mat-icon>
            <span>Disabled menu</span>
          </button>
        </mat-menu>
        
      </div>
    </mat-card-title>
    <mat-card-content>
      <ion-img src="{{ post?.image }}"></ion-img>
    </mat-card-content>
   
    <mat-card-actions>
      <div class="d-flex ion-justify-content-between ion-padding-horizontal">
        <div>
          <button mat-icon-button color="warn">
            <mat-icon>favorite</mat-icon>
          </button>{{ post?.like }}
          <button mat-icon-button>
            <mat-icon>chat_bubble_outline</mat-icon>
          </button>{{ post?.comment }}
        </div>
        <div>
          <button mat-icon-button> 
            <mat-icon>bookmark_border</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-actions>
    <mat-card-footer>
      
    </mat-card-footer>
  </mat-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar style="--background: transparent;">
    <div class="menu-button-container">
      <div class="menu-btn">
        <button mat-fab color="primary">
          <mat-icon>apps</mat-icon>
        </button>
      </div>
      <div class="footer-bar d-flex ion-justify-content-around color-white">
        <button class="wh-3" mat-icon-button>
          <mat-icon >duo</mat-icon>
        </button>
        <button class="wh-3" mat-icon-button>
          <mat-icon matBadge="7" matBadgeColor="accent">mail</mat-icon>
        </button>
      </div>
    </div>
    
  </ion-toolbar>
</ion-footer>